# Sphinx
psutil
pytest
pytest-xdist
psycopg2
six
psutil
git+https://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@github.com/postgrespro/testgres.os_ops.git

